@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');

body {
    background: linear-gradient(to right, #BCBCFF, #4D2FA7, #1A1543);
    font-family: "Anek Tamil", sans-serif;
    color: var(--main-color);
    margin: 0 0 0 0;
}

:root {
    --main-color: #FFFFFF;
}

.wrapper {
    display: flex;
    /* justify-content: space-evenly; */
    padding: 0 5rem 0;
    height: 100vh;
    gap: 2rem;
    justify-content: center;
}

.sticky-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 45%;
    padding: 5% 0;
}

.overflow-content {
    width: 45%;
    height: 100vh;
    padding: 5% 0;
}

.navbar {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    font-weight: bolder;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.fa-github, .fa-linkedin, .fa-square-x-twitter, .fa-envelope { 
    color: #E7E3FC61;
    font-size: 2rem;
}

.fa-github:hover, .fa-linkedin:hover, .fa-square-x-twitter:hover, .fa-envelope:hover { 
    color: #FFFFFF;
}
