@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');

body {
    background: linear-gradient(to right, #BCBCFF, #4D2FA7, #1A1543);
    font-family: "Anek Tamil", sans-serif;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 41px; 
}

.fa-github, .fa-linkedin, .fa-square-x-twitter, .fa-envelope { 
    color: #FFFFFF;
    font-size: 45px;
}
